<div>
    <h2>
        <div style="display: flex; flex-direction: row; justify-content: space-between">
            <span>Workflows</span>
            <div class="btn-group mr-2 float-right" style="display: flex; flex-direction: row; justify-content: space-between">

                <div class="btn-group mr-2" role="group">
                    <button class="btn btn-warning float-right" routerLink="/stepcustoms" routerLinkActive="active">
                        <span class="fa fa-circle-o"></span>
                        <span class="hidden-sm-down" >
                        Steps
                    </span>
                    </button>
                </div>

                <div class="btn-group mr-2" role="group">
                    <button class="btn btn-warning float-right" routerLink="/transitioncustoms" routerLinkActive="active">
                        <span class="fa fa-arrow-right"></span>
                        <span class="hidden-sm-down" >
                        Transitions
                    </span>
                    </button>
                </div>

                <div class="btn-group mr-2" role="group">
                    <button class="btn btn-primary float-right jh-create-entity create-workflow-custom" [routerLink]="['/', { outlets: { popup: ['workflowcustom-new'] } }]">
                        <span class="fa fa-plus"></span>
                        <span class="hidden-sm-down" >
                        Create new Workflow
                    </span>
                    </button>
                </div>

            </div>
        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="workflowcustoms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let workflow of workflowcustoms ;trackBy: trackId">
                <!--<td><a [routerLink]="['../workflowcustoms', workflow.id ]">{{workflow.id}}</a></td>-->
                <td><a [routerLink]="['../workflowcustoms', workflow.id ]">{{workflow.code}}</a></td>
                <td>{{workflow.name}}</td>
                <td >{{workflow.description}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">

                        <button type="submit"
                                [routerLink]="['../workflowcustoms', workflow.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'workflowcustoms/'+ workflow.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'workflowcustoms/'+ workflow.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="workflowcustoms && workflowcustoms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
