<div *ngIf="columncustom"> {{columncustom.isActive}}</div>
<!--
<div *ngIf="columncustom" (load)="document.getElementById('backlog').click()">

    <div class="row" id="columnspec" >
        <div class="column-name"><h4>{{columncustom.name}}</h4></div>
        <div class="column-choices">
            <button *ngIf="columncustom.type.toUpperCase().localeCompare('SCRUM')===0" id="backlog" type="button" class="btn btn-primary" (click)="getBacklogIssues()">Backlog</button>
            <button *ngIf="columncustom.type.toUpperCase().localeCompare('SCRUM')===0" type="button" class="btn btn-primary">Active Column</button>
            <button *ngIf="columncustom.type.toUpperCase().localeCompare('KANBAN')===0" type="button" class="btn btn-primary">Kanban Column</button>
        </div>
    </div>

    <section>
        <div class="container pl-0 py-3">
            <div class="PartialBacklog">
                <div *ngIf="columncustom.type.toUpperCase() === 'KANBAN'">Selected for Development</div>
                <div *ngIf="columncustom.type.toUpperCase() === 'SCRUM'">Column Issues</div>
            </div>

            <div class="DropZone container px-5" id="WIP" (dragover)="allowDrop($event)" (drop)="drop($event)">

            </div>
        </div>

        <div class="container pl-0 py-3">
            <div *ngIf="relatedIssuesPerBoard">
                <div *ngIf="relatedIssuesPerBoard.length" class="product-backlog-info row">
                    <div class="backlog-option row">
                        <div class="product-backlog"><span>Product Backlog</span></div>
                        <div class="totIssues">{{relatedIssuesPerBoard.length}} issues</div>
                    </div>
                    <div class="NewColumn"><button *ngIf="columncustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-info">Create Column</button></div>
                </div>

                <div *ngFor="let issue of relatedIssuesPerBoard">

                    <div class="issue row" id={{issue.id}} draggable="true" (dragstart)="dragStart($event)" >
                        <div class="issue-priority-color" *ngIf="issue.priority" [style.background] = "issue.priority.color"></div>
                        <div class="issue-type-icon"><img  [src] = "issue.type.icon" /></div>
                        <div class="issue-info row" id="attributes">
                            <div class="code"><a href="#/issuecustoms/{{issue.id}}">{{issue.code}}</a></div>
                            <div class="summary">{{issue.summary}}</div>
                            <div class="external-info">
                                <div class="epic" *ngIf="issue.epic" [style.background-color] = "issue.epic.color">{{issue.epic.name}}</div>
                                <div class="version" *ngIf="issue.version">{{issue.version.name}}</div>
                            </div>
                            <div class="assignee-img"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>

-->



<!--
<div *ngIf="columncustom">
    <h4><span>{{columncustom.code}}</span> </h4>
    <h2><span>{{columncustom.summary}}</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
<div class="container">
  <div class="panel-group row ">

    <div class="panel-group"  style="width:50%;">
    <div class="panel panel-info">
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Details</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-3">Type :</div>
            <div *ngIf ="columncustom.type" class="col-8">{{columncustom.type.name}}</div>
            <div *ngIf ="!columncustom.type" class="col-8" style="color:lightslategray; font-weight: bold; font-style: italic;">None</div>
          </div>
          <div class="row">
            <div class="col-3">Priority :</div>
            <div *ngIf ="columncustom.priority" class="col-8">{{columncustom.priority.name}}</div>
            <div *ngIf ="!columncustom.priority" class="col-8" style="color:lightslategray; font-weight: bold; font-style: italic;">None</div>
          </div>
          <div *ngIf ="columncustom.epic" class="row">
            <div class="col-3">Epic :</div>
            <div *ngIf ="columncustom.epic" class="col-8">{{columncustom.epic.summary}} ({{columncustom.epic.name}})</div>
            <div *ngIf ="!columncustom.epic" class="col-8" style="color:lightslategray; font-weight: bold; font-style: italic;">None</div>
          </div>
          <div class="row">
            <div class="col-3">Status :</div>
            <div *ngIf ="columncustom.status"  class="col-8">{{columncustom.status.name}}</div>
            <div *ngIf ="!columncustom.status"  class="col-8" style="color:lightslategray; font-weight: bold; font-style: italic;">None</div>
          </div>
          <div class="row">
            <div class="col-3">Resolution :</div>
            <div *ngIf ="columncustom.resolution" class="col-8">{{columncustom.resolution.name}}</div>
            <div *ngIf ="!columncustom.resolution" class="col-8" style="color:lightslategray; font-weight: bold; font-style: italic;">None</div>
          </div>
          <div class="row">
            <div class="col-3">Estimation :</div>
            <div class="col-8">{{columncustom.estimation}} Hours</div>
          </div>

      </div>
    </div>
    <hr style="border-color:transparent;">
    <div class="panel panel-info">
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Description</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-10">{{columncustom.description}}</div>
          </div>

      </div>
    </div>
    </div>

    <div class="panel-group"  style="width:50%;">
    <div class="panel panel-info" >
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>People</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-3">Assignee :</div>
            <div class="col-8">Melliti Zied</div>
          </div>

          <div class="row">
            <div class="col-3">Reporter :</div>
            <div class="col-8">Melliti Zied</div>
          </div>

      </div>
    </div>
    <hr style="border-color:transparent;">
    <div class="panel panel-info" >
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Dates</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-3">Created :</div>
            <div class="col-8">{{columncustom.createdDate | date:'mediumDate'}}</div>
          </div>

          <div class="row">
            <div class="col-3">Due :</div>
            <div class="col-8">{{columncustom.dueDate | date:'mediumDate'}}</div>
          </div>

          <div class="row">
            <div class="col-3">Updated :</div>
            <div class="col-8">{{columncustom.updatedDate | date:'mediumDate'}}</div>
          </div>

      </div>
    </div>
    </div>

</div>
<hr style="border-color:transparent;">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ columncustom.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>


<div *ngIf="columncustom">
    <h2><span>Column</span> {{columncustom.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>


        <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{columncustom.code}}</span>
        </dd>
        <dt><span>Summary</span></dt>
        <dd>
            <span>{{columncustom.summary}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{columncustom.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Due Date</span></dt>
        <dd>
            <span>{{columncustom.dueDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Estimation</span></dt>
        <dd>
            <span>{{columncustom.estimation}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{columncustom.type.name}}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
            <span>{{columncustom.priority.name}}</span>
        </dd>
        <dt><span>Epic</span></dt>
        <dd>
            <span>{{columncustom.epic.name}}</span>
        </dd>
    </dl>



    <div class="container">
        <h4>Details</h4>
        <div class="panel panel-default">
          <div class="panel-heading">Panel Heading</div>
          <div class="panel-body">Panel Content</div>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ columncustom.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
-->
