<!--<div *ngIf="boardcustom">


    <div class="boardParent" style="display: flex; flex-direction: row; justify-content: space-between">
        <div class="boardPath" style="display: flex; flex-direction: row; justify-content: space-between">
            <h5><span>{{boardcustom.project.name}}</span></h5>
            <h5>&nbsp;<span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder">&nbsp;</span> </h5>
            <h5><span>{{boardcustom.name}}</span> </h5>
            <h5>&nbsp;<span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder">&nbsp;</span> </h5>
            <h5>
                <span>
                    <div *ngIf="myColumns">Columns</div>
                    <div *ngIf="myStatuses">Statuses</div>
                    <div *ngIf="mySprints">Sprints</div>
                </span>
            </h5>
        </div>
        <div class="backBtn pr-2 pb-2">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>


    <p-tabMenu *ngIf="boardcustom.type.toLowerCase() === 'scrum'" [activeItem]="boardItems[0]" [model]="boardItems"></p-tabMenu>
    <p-tabMenu *ngIf="boardcustom.type.toLowerCase() === 'kanban'" [activeItem]="kanbanItems[0]" [model]="kanbanItems"></p-tabMenu>

    <div *ngIf="myColumns && relatedColumns">

        <div>
            <br/>

            <h4>
                <span>Total columns related to this Board : {{relatedColumns.length}}</span>
            </h4>
            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="relatedColumns">
                <table class="table table-striped">
                    <thead>
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="min"><span>Min</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="max"><span>Max</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="board"><span>Board</span> <span class="fa fa-sort"></span></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let column of relatedColumns ;trackBy: trackId">
                        <td style="font-weight: bold">{{column.code}}</td>
                        <td>{{column.name}}</td>
                        <td>{{column.min}}</td>
                        <td>{{column.max}}</td>
                        <td *ngIf="column.board">{{column.board.name}}</td>
                        <td *ngIf="!column.board">&nbsp;</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ column.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ column.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>




    </div>

    <div *ngIf="myStatuses && relatedSteps" >

        <div>
            <br/>

            <h4>
                <span>Total statuses related to this Board : {{relatedSteps.length}}</span>
            </h4>
            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="relatedSteps">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="column"><span>Column</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let step of relatedSteps ;trackBy: trackId">
                        <td style="font-weight: bold">{{step.code}}</td>
                        <td>{{step.name}}</td>
                        <td>{{step.description}}</td>
                        <td *ngIf="step.column">{{step.column.name}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'stepcustoms/'+ step.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'stepcustoms/'+ step.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div *ngIf="mySprints && relatedSprints">

        <div>
            <br/>

            <h4>
                <span>Total sprints related to this Board : {{relatedSprints.length}}</span>
            </h4>

            <h5>
                <span *ngIf="activeSprint">Active Sprint : {{activeSprint.name}}</span>
            </h5>

            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="relatedSprints">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="startDate"><span>Start Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="endDate"><span>End Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="goal"><span>Goal</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="board"><span>Board</span> <span class="fa fa-sort"></span></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sprint of relatedSprints ;trackBy: trackId">
                        <td style="font-weight: bold">{{sprint.code}}</td>
                        <td>{{sprint.name}}</td>
                        <td>{{sprint.startDate | date:'mediumDate'}}</td>
                        <td>{{sprint.endDate | date:'mediumDate'}}</td>
                        <td>{{sprint.goal}}</td>
                        <td *ngIf="sprint.board">{{sprint.board.name}}</td>
                        <td *ngIf="!sprint.board">&nbsp;</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <button type="submit" *ngIf="!sprint.isActive"
                                        [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ sprint.id + '/start'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-success btn-sm">
                                    <span class="fa fa-check"></span>
                                    <span class="d-none d-md-inline">Start</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ sprint.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ sprint.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>

</div>
-->



<div *ngIf="boardcustom">
    <div class="boardHeader" style="display: flex; flex-direction: row; justify-content: space-between">
        <div class="boardScheme" style="display: flex; flex-direction: row;">
            <!--<h5><span><a [routerLink]="['/projectcustoms', issuecustom.project.id ]">{{issuecustom.project.name}}</a></span></h5>-->
            <h5><span>Boards</span></h5>
            <h5>&nbsp;<span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder">&nbsp;</span> </h5>
            <h5><span>{{boardcustom.code}}</span> </h5>
        </div>
        <div class="btn-group mr-2" style="display: flex; flex-direction: row; justify-content: flex-end">

            <button type="button"
                    [routerLink]="['../../boardcustoms/agile', boardcustom.id ]"
                    replaceUrl="true"
                    queryParamsHandling="merge"
                    class=" btn btn-success btn-group mr-2" role="group">
                <span class="fa fa-columns"></span><span>&nbsp;</span>
                <span class="d-none d-md-inline"> Agile</span>
            </button>

            <button type="button"
                [routerLink]="['../../boardcustoms/configure', boardcustom.id ]"
                replaceUrl="true"
                queryParamsHandling="merge"
                class="btn btn-warning btn-group mr-2" role="group">
                <span class="fa fa-wrench"></span><span>&nbsp;</span>
                <span class="d-none d-md-inline"> Configure</span>
            </button>

        </div>
    </div>

    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">

        <div class="container">
            <div class="panel-group row ">

                <div class="panel-group"  style="width:50%;">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Details</h4></div>
                        <div class="panel-body-active" >
                            <div class="row">
                                <div class="col-3"><dt><span class="col-3">Name : </span></dt></div>
                                <div class="col-8">{{boardcustom.name}}</div>
                            </div>
                            <div class="row">
                                <div class="col-3"><dt><span class="col-3">Type : </span></dt></div>
                                <div class="col-8">{{boardcustom.type}}</div>
                            </div>
                        </div>
                    </div>
                    <hr style="border-color:transparent;">
                    <div class="panel panel-info">
                        <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Description</h4></div>
                        <div class="panel-body-active" >
                            <div class="row">
                                <h6>
                                    <span class="col-3" style="font-weight: bold">Total sprints : </span>
                                    <div>{{relatedSprints.length}}</div>
                                </h6>
                            </div>
                            <div class="row">
                                <h6>
                                    <span class="col-3" style="font-weight: bold">Total columns : </span>
                                    {{relatedColumns.length}}
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </dl>
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'boardcustom/'+ boardcustom.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>





