<div *ngIf="boardcustom">


    <div class="boardParent" style="display: flex; flex-direction: row; justify-content: space-between">

        <div class="boardPath" style="display: flex; flex-direction: row; justify-content: space-between">
            <h5><span>{{boardcustom.project.name}}</span></h5>
            <h5>&nbsp;<span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder">&nbsp;</span> </h5>
            <h5><span>{{boardcustom.name}}</span> </h5>
            <h5>&nbsp;<span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder">&nbsp;</span> </h5>
            <h5>
                <span *ngIf="boardcustom.type.toLowerCase() === 'kanban'">
                    <!--<a [routerLink]="['/boardcustoms', boardcustom.id ]">{{boardcustom.name}}</a>-->
                    Kanban
                </span>
                <span *ngIf="boardcustom.type.toLowerCase() === 'scrum'">
                    <!--<a [routerLink]="['/boardcustoms', boardcustom.id ]">{{boardcustom.name}}</a>-->
                    Scrum
                </span>
            </h5>
        </div>

        <div class="btn-group mr-2 float-right" style="display: flex; flex-direction: row; justify-content: space-between">

            <div class="btn-group mr-2" role="group">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
                </button>
            </div>

            <div *ngIf="boardcustom.type.toLowerCase() === 'scrum'" class="btn-group mr-2" role="group">
                <button class="btn btn-warning float-right" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" [routerLink]="['../../../sprintcustoms', {search: boardcustom.id}]" routerLinkActive="active">
                    <span class="fa fa-undo"></span>
                    <span class="hidden-sm-down" >
                        Sprints
                    </span>
                </button>
            </div>


            <div class="btn-group mr-2" role="group">
                <button class="btn btn-success float-right" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" [routerLink]="['../../configure', + boardcustom.id]" routerLinkActive="active">
                    <span class="fa fa-wrench"></span>
                    <span class="hidden-sm-down" >
                        Configure
                    </span>
                </button>
            </div>

        </div>

    </div>

    <div class="boardAgile pl-3">
        <div *ngIf="boardcustom" #divClick class="boardCh" >
            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" ><p-tabMenu *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" [model]="scrumItems"></p-tabMenu></div>
            <div *jhiHasAnyAuthority="['ROLE_EMPLOYEE']" ><p-tabMenu *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" [model]="scrumViewItems"></p-tabMenu></div>
            <p-tabMenu *ngIf="boardcustom.type.toUpperCase().localeCompare('KANBAN')===0" [model]="kanbanItems"></p-tabMenu>
        </div>
    </div>

    <section class="main">
        <div class="backlogScrum">

            <div  *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn-group mr-2 float-right" role="group" aria-label="Second group">
                <div *ngIf="activeSprint && activeSprint.isActive">
                    <button type="submit"
                            class="btn btn-danger"
                            *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']"
                            [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ activeSprint.id + '/complete'} }]">
                        <span class="fa fa-hand-stop-o"></span>&nbsp;<span>Complete Sprint</span>
                    </button>
                </div>
            </div>

            <br>

            <div class="container pl-0 py-3" id="currentIssues" *ngIf="activeSprint && Backlog">
                <div class="PartialBacklog row">
                    <div class="sprintInfo">
                        <div class="WIP">
                            <div class="Selected" *ngIf="boardcustom.type.toUpperCase() === 'KANBAN'">Selected for Development</div>
                            <div class="sprintName" *ngIf="boardcustom.type.toUpperCase() === 'SCRUM'">{{activeSprint.name}}</div>
                        </div>
                        <div class="sprintIssues">{{relatedIssuesPerSprint.length}} issues</div>
                    </div>
                    <!--<div class="StartSprint" *ngIf="!activeSprint.isActive">-->
                    <div class="startSprintBtn" *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']">
                        <!--<button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-warning" [routerLink]="['/', { outlets: { popup: ['sprintcustom-new'] } }]">Create Sprint</button>-->
                        <button disabled="disabled" *ngIf="(boardcustom.type.toUpperCase().localeCompare('SCRUM')===0) && (!activeSprint.isActive)" class="btn btn-success" id="startSprintBtn" (click)="startSprint()" [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ activeSprint.id + '/start'} }]">
                            <span class="fa fa-check"></span>
                            Start Sprint
                        </button>
                    </div>


                </div>

                <div class="sprintDates row pb-3" *ngIf="activeSprint.startDate && activeSprint.endDate">
                    <div class="sprintStart">{{activeSprint.startDate | date:'mediumDate'}}</div>
                    <div class="separateDates"> | </div>
                    <div class="sprintEnd">{{activeSprint.endDate | date:'mediumDate'}}</div>
                </div>

                <div class="dropZone container px-5" id="droppable" (dragover)="allowDrop($event)" (drop)="drop($event)" *ngIf="relatedIssuesPerSprint">
                    <div class="a" *ngIf="activeSprint.isActive">
                        <div class="b" *ngFor="let sp_issue of relatedIssuesPerSprint">
                            <div class="issue row" id={{sp_issue.id}}>
                                <div class="issue-priority-color" *ngIf="sp_issue.priority" [style.background] = "sp_issue.priority.color"></div>
                                <div class="issue-type-icon" *ngIf="sp_issue.type"><img  [src] = "sp_issue.type.icon" /></div>
                                <div class="issue-info row" id="attributessp">
                                    <div class="code" *ngIf="!sp_issue.status || sp_issue.status.category.name.toLowerCase() !== 'done'"><a href="#/issuecustoms/{{sp_issue.id}}">{{sp_issue.code}}</a></div>
                                    <div class="code" *ngIf="sp_issue.status && sp_issue.status.category.name.toLowerCase() === 'done'"><a href="#/issuecustoms/{{sp_issue.id}}"><del>{{sp_issue.code}}</del></del></a></div>
                                    <div class="summary">{{sp_issue.summary}}</div>
                                    <div class="external-info">
                                        <div class="epic" *ngIf="sp_issue.epic" [style.background-color] = "sp_issue.epic.color">{{sp_issue.epic.code}}</div>
                                        <div class="version" *ngIf="sp_issue.version">{{sp_issue.version.name}}</div>
                                    </div>
                                    <!--<div class="assignee-img"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container pl-0 py-3">
                <div *ngIf="relatedIssuesPerBoard && Backlog">
                    <!-- <div class="card" > -->
                    <div *ngIf="relatedIssuesPerBoard.length" class="product-backlog-info" style="display: flex; flex-direction: row; justify-content: space-between">
                        <div class="backlog-option row">
                            <div class="product-backlog">Product Backlog</div>
                            <div class="backlogIssues">{{relatedIssuesPerBoard.length}} issues</div>
                        </div>
                        <div class="NewSprint" *ngIf="!activeSprint">
                            <!--<button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-warning" [routerLink]="['/', { outlets: { popup: ['sprintcustom-new'] } }]">Create Sprint</button>-->
                            <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']">
                                <button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-warning" id="createSprintBtn" (click)="prepareSprint();" >Create Sprint</button>
                            </div>
                        </div>
                    </div>

                    <div *ngFor="let issue of relatedIssuesPerBoard">
                        <div *ngIf="issue.sprint === null">
                            <div class="issue row" id={{issue.id}} draggable="true" (dragstart)="dragStart($event)" (dragend)="dragend($event)">
                                <div class="issue-priority-color" *ngIf="issue.priority" [style.background] = "issue.priority.color"></div>
                                <div class="issue-type-icon" *ngIf="issue.type"><img  [src] = "issue.type.icon" /></div>
                                <div class="issue-info row" id="attributes">
                                    <div class="code" *ngIf="!issue.status || issue.status.category.name.toLowerCase() !== 'done'"><a href="#/issuecustoms/{{issue.id}}">{{issue.code}}</a></div>
                                    <div class="code" *ngIf="issue.status && issue.status.category.name.toLowerCase() === 'done'"><a href="#/issuecustoms/{{issue.id}}"><del>{{issue.code}}</del></a></div>
                                    <div class="summary">{{issue.summary}}</div>
                                    <div class="external-info">
                                        <div class="epic" *ngIf="issue.epic" [style.background-color] = "issue.epic.color">{{issue.epic.code}}</div>
                                        <div class="version" *ngIf="issue.version">{{issue.version.name}}</div>
                                    </div>
                                    <!--<div class="assignee-img"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- </div> -->
                </div>
            </div>

        </div>

        <!-- related to Active Sprint -->

        <div class="ScrumBan">

            <!-- Scrum Board -->
            <div class="container-fluid" *ngIf="relatedColumns && ActiveSprint">

                <div class="wipBoard">

                    <div class="agileColumns row">

                        <div class="panel panel-primary col" *ngFor="let colScrum of relatedColumns">
                            <div class="agileColumn" id="{{colScrum.id}}">
                                <div class="panel-heading column-name">
                                    <div class="colName">
                                        {{colScrum.name}}
                                    </div>
                                </div>
                                <div class="panel-body-active column-content-active" id="columndroppable" (dragover)="allowDropColBoard($event)" (drop)="dropColBoard($event)" (dragleave)="dragleaveColBoard($event)">

                                    <div *ngFor="let step of relatedSteps">

                                        <div *ngIf="step.column.name === colScrum.name">

                                            <div *ngFor="let issueCol of relatedIssuesPerSprint">


                                                <div *ngIf="issueCol.status && issueCol.status.name === step.status.name">


                                                    <div class="issue-active row" id={{issueCol.id}} draggable="true" (dragstart)="dragStartColBoard($event)" (dragend)="dragendColBoard($event)">
                                                        <div class="issue-priority-color-active" *ngIf="issueCol.priority" [style.background] = "issueCol.priority.color"></div>
                                                        <div class="card-content-active">
                                                            <div class="card-body-active">
                                                                <div class="info row pl-3">

                                                                    <div class="issueTypeandCode">
                                                                        <div class="issue-type-icon-active" *ngIf="issueCol.type"><img  [src] = "issueCol.type.icon" /></div>
                                                                        <div class="issue-code-active" *ngIf="!issueCol.status || issueCol.status.category.name.toLowerCase() !== 'done'"><div class="card-title"><a [routerLink]="['../../../issuecustoms', issueCol.id ]">{{issueCol.code}}</a></div></div>
                                                                        <div class="issue-code-active" *ngIf="issueCol.status && issueCol.status.category.name.toLowerCase() === 'done'"><div class="card-title"><a [routerLink]="['../../../issuecustoms', issueCol.id ]"><del>{{issueCol.code}}</del>
                                                                        </a></div></div>
                                                                    </div>
                                                                    <!--<div class="assignee">
                                                                        <div class="assignee-img-active"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                                                                    </div>-->

                                                                </div>
                                                                <div class="issue-summary pl-3">{{issueCol.summary}}</div>
                                                                <div class="progress mx-1 mb-1">
                                                                    <!-- <div class="progress-bar" id="'progess'{{issueKanCol.id}}" -->
                                                                    <div class="progress-bar" id={{issueCol.code}}
                                                                         aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': issueCol.progress + '%'}">
                                                                        {{issueCol.progress}} %
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>




            <!-- Kanban Board -->
            <div class="container-fluid" *ngIf="relatedColumns && KanbanBoard">

                <div class="wipBoard">

                    <div class="agileColumns row">

                        <div class="kanbanBacklog panel panel-primary col">
                            <div class="panel-heading column-name">
                                <div class="colName" id="backlog">Backlog</div>
                            </div>
                            <div class="panel-body-active column-content-active">
                                <div *ngFor="let issueBckKanCol of relatedIssuesPerBoard">
                                    <div *ngIf="!issueBckKanCol.status"><div class="issue-active row" id={{issueBckKanCol.id}} draggable="true" (dragstart)="dragStartColBoard($event)" (dragend)="dragendColBoard($event)">
                                        <div class="issue-priority-color-active" *ngIf="issueBckKanCol.priority" [style.background] = "issueBckKanCol.priority.color"></div>
                                        <div class="card-content-active">
                                            <div class="card-body-active">
                                                <div class="info row pl-3">
                                                    <div class="issue-type-icon-active" *ngIf="issueBckKanCol.type"><img  [src] = "issueBckKanCol.type.icon" /></div>
                                                    <div class="issue-code-active" *ngIf="!issueBckKanCol.status || issueBckKanCol.status.category.name.toLowerCase() !== 'done'"><div class="card-title"><a [routerLink]="['../../../issuecustoms', issueBckKanCol.id ]">{{issueBckKanCol.code}}</a></div></div>
                                                    <div class="issue-code-active" *ngIf="issueBckKanCol.status && issueBckKanCol.status.category.name.toLowerCase() === 'done'"><div class="card-title"><a [routerLink]="['../../../issuecustoms', issueBckKanCol.id ]"><del>{{issueBckKanCol.code}}</del></a></div></div>
                                                    <!--<div class="assignee-img-active"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>-->
                                                </div>
                                                <div class="issue-summary pl-3">{{issueBckKanCol.summary}}</div>
                                                <div class="progress mx-1 mb-1">
                                                    <!-- <div class="progress-bar" id="'progess'{{issueKanCol.id}}" -->
                                                    <div class="progress-bar" id={{issueBckKanCol.code}}
                                                         aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': issueBckKanCol.progress + '%'}">
                                                        {{issueBckKanCol.progress}} %
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-primary col" *ngFor="let colKanban of relatedColumns">

                            <div class="agileColumn" id={{colKanban.id}}>

                                <div class="panel-heading column-name">
                                    <div class="colInfo">
                                        <div class="colName"> {{colKanban.name}} </div>

                                        <div class="colMin" *ngIf="colKanban.min"> Min : {{colKanban.min}} </div>
                                        <div class="colMax" *ngIf="colKanban.max"> Max : {{colKanban.max}} </div>
                                    </div>
                                </div>
                                <div class="panel-body-active column-content-active" id="columnkandroppable" (dragover)="allowDropColBoard($event)" (drop)="dropColBoard($event)" (dragleave)="dragleaveColBoard($event)">

                                    <div class="status" *ngFor="let step of relatedSteps">

                                        <div class="statuscol" *ngIf="step.column && step.column.name === colKanban.name">


                                            <div class="issueKan" *ngFor="let issueKanCol of relatedIssuesPerBoard">


                                                <div class="issuesForCol" *ngIf="issueKanCol.status && issueKanCol.status.name === step.status.name">


                                                    <div class="issue-active row" id={{issueKanCol.id}} draggable="true" (dragstart)="dragStartColBoard($event)" (dragend)="dragendColBoard($event)">
                                                        <div class="issue-priority-color-active" *ngIf="issueKanCol.priority" [style.background] = "issueKanCol.priority.color"></div>
                                                        <div class="card-content-active">
                                                            <div class="card-body-active">
                                                                <div class="info row pl-3">
                                                                    <div class="issueTypeandCode">
                                                                        <div class="issue-type-icon-active" *ngIf="issueKanCol.type"><img  [src] = "issueKanCol.type.icon" /></div>
                                                                        <div class="issue-code-active" *ngIf="!issueKanCol.status || issueKanCol.status.category.name.toLowerCase() !== 'done'"><div class="card-title"><a [routerLink]="['../../../issuecustoms', issueKanCol.id ]">{{issueKanCol.code}}</a></div></div>
                                                                        <div class="issue-code-active" *ngIf="issueKanCol.status && issueKanCol.status.category.name.toLowerCase() === 'done'"><div class="card-title"><a [routerLink]="['../../../issuecustoms', issueKanCol.id ]"><del>{{issueKanCol.code}}</del>
                                                                        </a></div></div>
                                                                    </div>
                                                                    <!--<div class="assignee">
                                                                        <div class="assignee-img-active"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                                                                    </div>-->
                                                                </div>
                                                                <div class="issue-summary pl-3">{{issueKanCol.summary}}</div>
                                                                <div class="progress">
                                                                    <!-- <div class="progress-bar" id="'progess'{{issueKanCol.id}}" -->
                                                                    <div class="progress-bar" id={{issueKanCol.code}}
                                                                         aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': issueKanCol.progress + '%'}">
                                                                        {{issueKanCol.progress}} %

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

    </section>
</div>






