<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myIssueCustomLabel">Create or edit a Issue</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!issuecustom.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="issuecustom.id" readonly />
        </div>

        <div ng-if="">
            <div class="form-group">
              <label class="form-control-label" for="field_project">Project</label>
              <select class="form-control" name="project" id="field_project" [(ngModel)]="projectname" (change) = "findProject();">
                <option  *ngFor="let project of projects" [value]="project.name">{{project.name}}</option>
              </select>
            </div>
        </div>
<!--
        <div class="form-group">
            <label class="form-control-label" for="field_code">Code</label>
            <input type="text" class="form-control" name="code" id="field_code"
                [(ngModel)]="issuecustom.code" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.code?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
    -->

        <div class="form-group">
            <label class="form-control-label" for="field_summary">Summary</label>
            <input type="text" class="form-control" name="summary" id="field_summary"
                [(ngModel)]="issuecustom.summary" required/>
            <div [hidden]="!(editForm.controls.code?.dirty && editForm.controls.code?.invalid)">
                <small class="form-text text-danger"
                       [hidden]="!editForm.controls.code?.errors?.required">
                    This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_version">Fix version</label>
            <select class="form-control" name="version" id="field_version" [(ngModel)]="versionname" (change) = "findFixVersion()">
                <option *ngFor="let version of possibleVersions" [value]="version.name"> {{version.name}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_dueDate">Due Date</label>
            <div class="input-group">
                <input id="field_dueDate" type="text" class="form-control" name="dueDate" ngbDatepicker #dueDateDp="ngbDatepicker" [(ngModel)]="issuecustom.dueDate"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dueDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_estimation">Estimation</label>
            <input type="number" class="form-control" name="estimation" id="field_estimation"
                [(ngModel)]="issuecustom.estimation" />
        </div>

        <div ng-if="">
            <div class="form-group">
              <label class="form-control-label" for="field_type">Type</label>
              <select class="form-control" name="type" id="field_type" [(ngModel)]="typename" (change) = "findType()">
                <option *ngFor="let type of types" [value]="type.name"> {{type.name}}</option>
              </select>
            </div>
        </div>
        <div ng-if="">
            <div class="form-group">
              <label class="form-control-label" for="field_priority">Priority</label>
              <select class="form-control" name="priority" id="field_priority" [(ngModel)]="priorityname" (change) = "findPriority()">
                <option  *ngFor="let priority of priorities" [value]="priority.name">{{priority.name}}</option>
              </select>
            </div>
        </div>
        <div ng-if="">
            <div class="form-group">
              <label class="form-control-label" for="field_priority">Epic</label>
              <select class="form-control" name="epic" id="field_epic" [(ngModel)]="epicname" (change) = "findEpic()">
                <option  *ngFor="let epic of epics" [value]="epic.name">{{epic.name}}</option>
              </select>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <textarea class="form-control" rows="5" name="description" id="field_description"
                [(ngModel)]="issuecustom.description"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
