<div>
    <h2>
        <span>Issues</span>
        <button class="btn btn-primary float-right jh-create-entity create-issue-custom" [routerLink]="['/', { outlets: { popup: ['issuecustom-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Issue
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="issuecustoms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="summary"><span>Summary</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="createdDate"><span>Created Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dueDate"><span>Due Date</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="estimation"><span>Estimation</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="priority"><span>Priority</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="epic"><span>Epic</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let issue of issuecustoms ;trackBy: trackId">
                <td><a [routerLink]="['../issuecustoms', issue.id ]">{{issue.id}}</a></td>
                <td>{{issue.code}}</td>
                <td>{{issue.summary}}</td>
                <td>{{issue.createdDate | date:'mediumDate'}}</td>
                <td>{{issue.dueDate | date:'mediumDate'}}</td>
                <td>{{issue.estimation}}</td>
                <td *ngIf="issue.type">{{issue.type.name}}</td>
                <td *ngIf="issue.priority">{{issue.priority.name}}</td>
                <td *ngIf="issue.epic">{{issue.epic.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../issuecustoms', issue.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'issuecustoms/'+ issue.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'issuecustoms/'+ issue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="issuecustoms && issuecustoms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">issue
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
