
<div *ngIf="issuecustom">
    <h4><span>{{issuecustom.code}}</span> </h4>
    <h2><span>{{issuecustom.summary}}</span></h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
<div class="container">
  <div class="panel-group row ">

    <div class="panel-group"  style="width:50%;">
    <div class="panel panel-info">
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Details</h4></div>
      <div class="panel-body" >

          <div *ngIf ="issuecustom.type" class="row">
            <div class="col-3">Type :</div>
            <div class="col-8">{{issuecustom.type.name}}</div>
          </div>
          <div *ngIf ="issuecustom.priority" class="row">
            <div class="col-3">Priority :</div>
            <div class="col-8">{{issuecustom.priority.name}}</div>
          </div>
          <div *ngIf ="issuecustom.epic" class="row">
            <div class="col-3">Epic :</div>
            <div class="col-8">{{issuecustom.epic.summary}} ({{issuecustom.epic.name}})</div>
          </div>
          <div class="row">
            <div class="col-3">Estimation :</div>
            <div class="col-8">{{issuecustom.estimation}} Hours</div>
          </div>

      </div>
    </div>
    <hr style="border-color:transparent;">
    <div class="panel panel-info">
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Description</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-10">{{issuecustom.description}}</div>
          </div>

      </div>
    </div>
    </div>

    <div class="panel-group"  style="width:50%;">
    <div class="panel panel-info" >
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>People</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-3">Assignee :</div>
            <div class="col-8">Melliti Zied</div>
          </div>

          <div class="row">
            <div class="col-3">Reporter :</div>
            <div class="col-8">Melliti Zied</div>
          </div>

      </div>
    </div>
    <hr style="border-color:transparent;">
    <div class="panel panel-info" >
      <div class="panel-heading" style="color:rgb(19, 89, 146); background-color:transparent;"><h4>Dates</h4></div>
      <div class="panel-body" >

          <div class="row">
            <div class="col-3">Created :</div>
            <div class="col-8">{{issuecustom.createdDate | date:'mediumDate'}}</div>
          </div>

          <div class="row">
            <div class="col-3">Due :</div>
            <div class="col-8">{{issuecustom.dueDate | date:'mediumDate'}}</div>
          </div>

          <div class="row">
            <div class="col-3">Updated :</div>
            <div class="col-8">{{issuecustom.updatedDate | date:'mediumDate'}}</div>
          </div>

      </div>
    </div>
    </div>

</div>
<hr style="border-color:transparent;">
    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'issuecustoms/'+ issuecustom.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>

    <!--
<div *ngIf="issuecustom">
    <h2><span>Issue</span> {{issuecustom.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>


        <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{issuecustom.code}}</span>
        </dd>
        <dt><span>Summary</span></dt>
        <dd>
            <span>{{issuecustom.summary}}</span>
        </dd>
        <dt><span>Created Date</span></dt>
        <dd>
            <span>{{issuecustom.createdDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Due Date</span></dt>
        <dd>
            <span>{{issuecustom.dueDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Estimation</span></dt>
        <dd>
            <span>{{issuecustom.estimation}}</span>
        </dd>
        <dt><span>Type</span></dt>
        <dd>
            <span>{{issuecustom.type.name}}</span>
        </dd>
        <dt><span>Priority</span></dt>
        <dd>
            <span>{{issuecustom.priority.name}}</span>
        </dd>
        <dt><span>Epic</span></dt>
        <dd>
            <span>{{issuecustom.epic.name}}</span>
        </dd>
    </dl>



    <div class="container">
        <h4>Details</h4>
        <div class="panel panel-default">
          <div class="panel-heading">Panel Heading</div>
          <div class="panel-body">Panel Content</div>
        </div>
    </div>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'issuecustoms/'+ issuecustom.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
-->
