<form name="resolveForm" (ngSubmit)="confirmChanges()">
    <div class="modal-header">
        <h4 class="modal-title" id="myIssueCustomLabel">Choose a resolution</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <select class="form-control" name="resolution" id="field_resolution" [(ngModel)]="resolutionname" (change) = "findResolution()">
                <option *ngFor="let res of resolutions" [value]="res.name"> {{res.name}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" class="btn btn-success">
            <span class="fa fa-check"></span>&nbsp;<span>Resolve</span>
        </button>
    </div>
</form>
