
.card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
}

.dropZone {
    border: 2px dashed blueviolet;
    min-height: 25px;
    padding: inherit;
    height: content-box;
    width: content-box;
}

.backlog-option {
    width: 75%;
    padding-left: 1%;
}

.NewSprint {
    padding-left: 17%;
}

.startSprintBtn {
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

.product-backlog-info {
    font-size: 14px;
    padding-bottom: 1%;
}

.product-backlog {
    font-weight: bold;
    padding-right: 1%;
    padding-left: inherit;
    width: 20%;
}

.backlogIssues {
    font-size: 14px;
    font-weight: normal;
    color: #888888;
}

.sprintIssues {
    font-size: 14px;
    font-weight: normal;
    color: #888888;
}

.sprintInfo {
    display: flex;
    justify-content: space-between;
    width: 20%;
}

.sprintDates {
    padding-left: 1%;
    display: flex;
    flex-flow: row wrap;
    color: #888888;
    font-weight: bold;
    font-size: 14px;
    width: 30%;
}

.sprintStart {
    margin-right: 1%;
}

.sprintEnd {
    margin-left: 1%;
}

.separateDates {
    font-weight: bold;
}

.PartialBacklog {
    font-size: 14px;
    font-weight: bold;
    padding: inherit;
}

.WIP {
    padding-left: 1%;
    padding-right: 1%;
}

#boardspec {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.board-name {
    width:70%;
    padding-left: 2%;
}

.board-choices {
    width:40%;
    padding-left: 7%;
}

.issue {
    border: 1px solid rgb(182, 182, 179);
    height: fit-content;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.issue-priority-color {
    width:1%;
}

.issue-type-icon {
    width: 5%;
    align-items: center;
    text-align: center;
}

.issue-info {
    width: 94%;
    color: #333;
    cursor: move;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.code {
    width:10%;
    align-items: center;
    text-align: center;
}

.summary {
    width:60%;
}

.external-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    width: 20%;
}

.assignee-img {
    width: 10%;
    align-items: center;
    text-align: center;
}

.epic {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    padding: 1px;
    margin: 2px;
    border-radius: 8px;
    border: 1px solid rgb(100, 102, 95);
    width: 50%;
    height: 80%;
}

.version {
    display: inline-block;
    color:rgb(93, 93, 95);
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    font-weight: normal;
    padding: 1px;
    margin: 2px;
    border-radius: 8px;
    border: 1px solid rgb(100, 102, 95);
    width: 50%;
    height: 80%;
}

img {
    height: auto;
    width: auto;
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
}

a {
    color: #3b73af;
}

a:hover {
    color: #cc6;
}


body {
    margin: 0;
    font-family: Roboto, sans-serif;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
}

.card-content-active {
    width:98%;
}
.card-body-active {
    padding: 1px 0 0;
    border: 1px solid rgb(182, 182, 179);
}

.panel-body-active {
    padding-top: 5%;
    background-color: #f5f5f5;;
}

.issue-priority-color-active {
    width:1%;
}

.column-content-active {
    /* border: 1px solid #888888; */
    min-height: 320px;
    border: 1px solid #888888;

}

.card-title {
    padding-top: 1%;
}

.issue-code {
    width: 80%;
}

.issue-type-icon {
    width: 10%;
}

.assignee-img {
    width: 10%;
}




.issue-active {
    background-color: #fcfcfc;
    margin-left: inherit;
    margin-right: inherit;
}

.card-title-active {
    padding-top: 1%;
}

.issue-code-active {
    width: 80%;
}

.issue-type-icon-active {
    width: 10%;
}

.assignee-img-active {
    width: 10%;
}

.boardAgile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.boardCh {
    width: 70%;
    border: white;
}

.main {
    border: 1px solid #888888;
    height: content-box;
    padding: 2%;
}

.mypanel .ui-widget-header {
    border: 20px;
}

.specBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
