<div *ngIf="boardcustom">


    <div class="row" id="boardspec" >
        <div class="board-name"><h4>{{boardcustom.name}}</h4></div>

        <div class="board-choices">
            <!--
            <button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" id="backlog" type="button" class="btn btn-info" (click)="getBacklogIssues(); getSprintIssues();">Backlog</button>
            <button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" type="button" class="btn btn-primary" (click)="searchRelatedColumns()">Active Sprint</button>
            <button *ngIf="boardcustom.type.toUpperCase().localeCompare('KANBAN')===0" type="button" class="btn btn-primary">Kanban Board</button>
            -->


        </div>

    </div>


    <div class="boardAgile row pl-3">
        <div *ngIf="boardcustom" #divClick class="boardCh" >
            <p-tabMenu *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" [model]="scrumItems" [activeItem]="scrumItems[0]"></p-tabMenu>
            <p-tabMenu *ngIf="boardcustom.type.toUpperCase().localeCompare('KANBAN')===0" [model]="kanbanItems" [activeItem]="kanbanItems[0]"></p-tabMenu>
        </div>

        <div class="boardConf">
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-success" id="dropdownManual" aria-hidden="true" ngbDropdownToggle >Board</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <li class="dropdown-item"><a [routerLink]="['../../configure', + boardcustom.id]">Configure</a></li>
                    <li class="dropdown-item"><a [routerLink]="['/', { outlets: { popup: ['boardcustom-new'] } }]">Create Board</a></li>
                </div>
            </div>
        </div>

    </div>


    <section class="main">
        <div class="container pl-0 py-3" id="currentIssues" *ngIf="activeSprint && Backlog">
            <div class="PartialBacklog row">
                <div class="sprintInfo">
                    <div class="WIP">
                        <div class="Selected" *ngIf="boardcustom.type.toUpperCase() === 'KANBAN'">Selected for Development</div>
                        <div class="sprintName" *ngIf="boardcustom.type.toUpperCase() === 'SCRUM'">{{activeSprint.name}}</div>
                    </div>
                    <div class="sprintIssues">{{relatedIssuesPerSprint.length}} issues</div>
                </div>
                <!--<div class="StartSprint" *ngIf="!activeSprint.isActive">-->
                <div class="startSprintBtn">
                    <!--<button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-warning" [routerLink]="['/', { outlets: { popup: ['sprintcustom-new'] } }]">Create Sprint</button>-->
                    <button disabled="disabled" *ngIf="(boardcustom.type.toUpperCase().localeCompare('SCRUM')===0) && (!activeSprint.isActive)" class="btn btn-warning" id="startSprintBtn" (click)="startSprint()" [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ activeSprint.id + '/start'} }]">Start Sprint</button>
                </div>
            </div>

            <div class="sprintDates row pb-3" *ngIf="activeSprint.startDate && activeSprint.endDate">
                <div class="sprintStart">{{activeSprint.startDate | date:'mediumDate'}}</div>
                <div class="separateDates"> | </div>
                <div class="sprintEnd">{{activeSprint.endDate | date:'mediumDate'}}</div>
            </div>

            <div class="dropZone container px-5" id="droppable" (dragover)="allowDrop($event)" (drop)="drop($event)" *ngIf="relatedIssuesPerSprint">
                <div class="a" *ngIf="activeSprint.isActive">
                    <div class="b" *ngFor="let sp_issue of relatedIssuesPerSprint">
                        <div class="issue row" id={{sp_issue.id}}>
                            <div class="issue-priority-color-active" *ngIf="sp_issue.priority" [style.background] = "sp_issue.priority.color"></div>
                            <div class="issue-type-icon"><img  [src] = "sp_issue.type.icon" /></div>
                            <div class="issue-info row" id="attributessp">
                                <div class="code"><a href="#/issuecustoms/{{sp_issue.id}}">{{sp_issue.code}}</a></div>
                                <div class="summary">{{sp_issue.summary}}</div>
                                <div class="external-info">
                                    <div class="epic" *ngIf="sp_issue.epic" [style.background-color] = "sp_issue.epic.color">{{sp_issue.epic.name}}</div>
                                    <div class="version" *ngIf="sp_issue.version">{{sp_issue.version.name}}</div>
                                </div>
                                <div class="assignee-img"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--
                <div *ngFor="let sp_issue of chosenIssues">
                    <div class="issue row" id={{sp_issue.id}}>
                        <div class="issue-priority-color" *ngIf="sp_issue.priority" [style.background] = "sp_issue.priority.color"></div>
                        <div class="issue-type-icon"><img  [src] = "sp_issue.type.icon" /></div>
                        <div class="issue-info row" id="attributessp">
                            <div class="code"><a href="#/issuecustoms/{{sp_issue.id}}">{{sp_issue.code}}</a></div>
                            <div class="summary">{{sp_issue.summary}}</div>
                            <div class="external-info">
                                <div class="epic" *ngIf="sp_issue.epic" [style.background-color] = "sp_issue.epic.color">{{sp_issue.epic.name}}</div>
                                <div class="version" *ngIf="sp_issue.version">{{sp_issue.version.name}}</div>
                            </div>
                            <div class="assignee-img"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                        </div>
                    </div>
                </div>
                -->
            </div>
        </div>

        <div class="container pl-0 py-3">
            <div *ngIf="relatedIssuesPerBoard && Backlog">
                <!-- <div class="card" > -->
                <div *ngIf="relatedIssuesPerBoard.length" class="product-backlog-info row">
                    <div class="backlog-option row">
                        <div class="product-backlog"><span>Product Backlog</span></div>
                        <div class="backlogIssues">{{relatedIssuesPerBoard.length}} issues</div>
                    </div>
                    <div class="NewSprint" *ngIf="activeSprint === undefined">
                        <!--<button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-warning" [routerLink]="['/', { outlets: { popup: ['sprintcustom-new'] } }]">Create Sprint</button>-->
                        <button *ngIf="boardcustom.type.toUpperCase().localeCompare('SCRUM')===0" class="btn btn-warning" id="createSprintBtn" (click)="prepareSprint()" >Create Sprint</button>
                    </div>
                </div>

                <div *ngFor="let issue of relatedIssuesPerBoard">
                    <div *ngIf="issue.sprint === null">
                        <div class="issue row" id={{issue.id}} draggable="true" (dragstart)="dragStart($event)" (dragend)="dragend($event)">
                            <div class="issue-priority-color" *ngIf="issue.priority" [style.background] = "issue.priority.color"></div>
                            <div class="issue-type-icon"><img  [src] = "issue.type.icon" /></div>
                            <div class="issue-info row" id="attributes">
                                <div class="code"><a href="#/issuecustoms/{{issue.id}}">{{issue.code}}</a></div>
                                <div class="summary">{{issue.summary}}</div>
                                <div class="external-info">
                                    <div class="epic" *ngIf="issue.epic" [style.background-color] = "issue.epic.color">{{issue.epic.name}}</div>
                                    <div class="version" *ngIf="issue.version">{{issue.version.name}}</div>
                                </div>
                                <div class="assignee-img"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- </div> -->
            </div>
        </div>


        <!-- related to Active Sprint -->

        <div class="container-fluid" *ngIf="relatedColumns && (ActiveSprint || KanbanBoard)">
            <div id="agileColumns" class="row">
                <div class="panel panel-primary col" *ngFor="let col of relatedColumns">
                    <div class="agileColumn">
                        <div class="panel-heading column-name"> {{col.name}} </div>
                        <div class="panel-body-active column-content-active" id="columndroppable" (dragover)="allowDropColBoard($event)" (drop)="dropColBoard($event)" (dragleave)="dragleaveColBoard($event)">
                            <div *ngFor="let issueCol of relatedIssuesPerSprint">

                                <div class="issue-active row" id={{issueCol.id}} draggable="true" (dragstart)="dragStartColBoard($event)" (dragend)="dragendColBoard($event)">
                                    <div class="issue-priority-color-active" *ngIf="issueCol.priority" [style.background] = "issueCol.priority.color"></div>
                                    <div class="card-content-active">
                                        <div class="card-body-active">
                                            <div class="info row pl-3">
                                                <div class="issue-type-icon-active"><img  [src] = "issueCol.type.icon" /></div>
                                                <div class="issue-code-active"><div class="card-title"><a [routerLink]="['../issuecustoms', issueCol.id ]">{{issueCol.code}}</a></div></div>
                                                <div class="assignee-img-active"><img src="../../../../content/images/logo-jhipster.png" alt="assignee img"/></div>
                                            </div>
                                            <div class="issue-summary pl-3">{{issueCol.summary}}</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</div>






