<div *ngIf="boardcustom">


    <div class="boardParent" style="display: flex; flex-direction: row; justify-content: space-between">
        <div class="schemeBoard" style="display: flex; flex-direction: row; justify-content: space-between">
            <div class="projectName">
                <h5>
                    <span>
                        <!--<a [routerLink]="['/projectcustoms', boardcustom.project.id ]">{{boardcustom.project.name}}</a>-->
                        {{boardcustom.project.name}}
                    </span>
                </h5>
            </div>

            <div>
                &nbsp;
                <span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder;"></span>
                &nbsp;
            </div>

            <div class="boardName">
                <h5>
                    <span>{{boardcustom.name}}</span>
                </h5>
            </div>

            <div>
                &nbsp;
                <span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder;"></span>
                &nbsp;
            </div>

            <div>
                <h5>
                    <span>
                        <div *ngIf="myColumns">Columns</div>
                        <div *ngIf="myStatuses">Statuses</div>
                        <div *ngIf="mySprints">Sprints</div>
                    </span>
                </h5>
            </div>
        </div>
        <div class="backBtn pr-2 pb-2">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>


    <p-tabMenu *ngIf="boardcustom.type.toLowerCase() === 'scrum'" [activeItem]="boardItems[0]" [model]="boardItems"></p-tabMenu>
    <p-tabMenu *ngIf="boardcustom.type.toLowerCase() === 'kanban'" [activeItem]="kanbanItems[0]" [model]="kanbanItems"></p-tabMenu>

    <div *ngIf="myColumns && relatedColumns">

        <div>
            <br/>

            <h4>
                <span>Total columns related to this Board : {{relatedColumns.length}}</span>
                <!--<button class="btn btn-primary float-right jh-create-entity create-column-custom" [routerLink]="['/', { outlets: { popup: ['columncustom-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" >
                    Create new Column
                    </span>
                </button>-->
            </h4>
            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="relatedColumns">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="min"><span>Min</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="max"><span>Max</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="board"><span>Board</span> <span class="fa fa-sort"></span></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let column of relatedColumns ;trackBy: trackId">
                        <!--<td><a [routerLink]="['../../columncustoms', column.id ]">{{column.code}}</a></td>-->
                        <td style="font-weight: bold">{{column.code}}</td>
                        <td>{{column.name}}</td>
                        <td>{{column.min}}</td>
                        <td>{{column.max}}</td>
                        <td *ngIf="column.board">{{column.board.name}}</td>
                        <td *ngIf="!column.board">&nbsp;</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <!--<button type="submit"
                                        [routerLink]="['../../columncustoms', column.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline">View</span>
                                </button>-->
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ column.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ column.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>




    </div>

    <div *ngIf="myStatuses && relatedSteps" >

        <div>
            <br/>

            <h4>
                <span>Total statuses related to this Board : {{relatedSteps.length}}</span>
                <!--<button class="btn btn-primary float-right jh-create-entity create-step-custom" [routerLink]="['/', { outlets: { popup: ['stepcustom-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" >
                    Create new Status
                    </span>
                </button>-->
            </h4>
            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="relatedSteps">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="column"><span>Column</span> <span class="fa fa-sort"></span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let step of relatedSteps ;trackBy: trackId">
                        <!--<td><a [routerLink]="['../../stepcustoms', step.id ]">{{step.code}}</a></td>-->
                        <td style="font-weight: bold">{{step.code}}</td>
                        <td>{{step.name}}</td>
                        <td>{{step.description}}</td>
                        <td *ngIf="step.column">{{step.column.name}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">
                                <!--<button type="submit"
                                        [routerLink]="['../../stepcustoms', step.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline">View</span>
                                </button>-->
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'stepcustoms/'+ step.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'stepcustoms/'+ step.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <div *ngIf="mySprints && relatedSprints">

        <div>
            <br/>

            <h4>
                <span>Total sprints related to this Board : {{relatedSprints.length}}</span>
                <!--<button class="btn btn-primary float-right jh-create-entity create-sprint-custom" [routerLink]="['/', { outlets: { popup: ['sprintcustom-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" >
                    Create new Sprint
                    </span>
                </button>-->
            </h4>

            <h5>
                <span *ngIf="activeSprint">Active Sprint : {{activeSprint.name}}</span>
            </h5>

            <jhi-alert></jhi-alert>
            <br/>
            <div class="table-responsive" *ngIf="relatedSprints">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="startDate"><span>Start Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="endDate"><span>End Date</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="goal"><span>Goal</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="board"><span>Board</span> <span class="fa fa-sort"></span></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let sprint of relatedSprints ;trackBy: trackId">
                        <!--<td><a [routerLink]="['../../sprintcustoms', sprint.id ]">{{sprint.code}}</a></td>-->
                        <td style="font-weight: bold">{{sprint.code}}</td>
                        <td>{{sprint.name}}</td>
                        <td>{{sprint.startDate | date:'mediumDate'}}</td>
                        <td>{{sprint.endDate | date:'mediumDate'}}</td>
                        <td>{{sprint.goal}}</td>
                        <td *ngIf="sprint.board">{{sprint.board.name}}</td>
                        <td *ngIf="!sprint.board">&nbsp;</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <button type="submit" *ngIf="!sprint.isActive"
                                        [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ sprint.id + '/start'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-success btn-sm">
                                    <span class="fa fa-check"></span>
                                    <span class="d-none d-md-inline">Start</span>
                                </button>
                                <!--<button type="submit"
                                        [routerLink]="['../../sprintcustoms', sprint.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline">View</span>
                                </button>-->
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ sprint.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'sprintcustoms/'+ sprint.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>



    </div>

</div>





