<div *ngIf="boardcustom">

    <h2>
        <div class="headerConf">

            <div class="boardParent" style="display: flex; flex-direction: row; justify-content: space-between">

                <div class="schemeBoard" style="display: flex; flex-direction: row; justify-content: space-between">

                    <div class="project-name">
                        <h5>
                            <span>
                                <!--<a [routerLink]="['/projectcustoms', boardcustom.project.id ]">{{boardcustom.project.name}}</a>-->
                                {{boardcustom.project.name}}
                            </span>
                        </h5>
                    </div>


                    &nbsp;
                    <span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder;"></span>
                    &nbsp;



                    <div>
                        <h5>
                            <span>
                                <!--<a [routerLink]="['/boardcustoms', boardcustom.id ]">{{boardcustom.name}}</a>-->
                                {{boardcustom.name}}
                            </span>
                        </h5>
                    </div>


                    &nbsp;
                    <span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder;"></span>
                    &nbsp;

                    <div>
                        <h5>
                            <span *ngIf="boardcustom.type.toLowerCase() === 'kanban'">
                            <!--<a [routerLink]="['/boardcustoms', boardcustom.id ]">{{boardcustom.name}}</a>-->
                                Kanban
                            </span>
                            <span *ngIf="boardcustom.type.toLowerCase() === 'scrum'">
                            <!--<a [routerLink]="['/boardcustoms', boardcustom.id ]">{{boardcustom.name}}</a>-->
                                Scrum
                            </span>
                        </h5>
                    </div>

                    &nbsp;
                    <span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder;"></span>
                    &nbsp;

                    <div><h5>Configuration</h5></div>
                </div>
            </div>


            <div class="columnConfBtn">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">

                    <div class="btn-group mr-2 float-right" role="group" aria-label="Second group">
                        <button type="submit"
                                (click)="previousState()"
                                class="btn btn-info">
                            <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
                        </button>
                    </div>

                    <div class="btn-group mr-2" role="group" aria-label="Second group">
                        <button class="btn btn-success float-right" (click)="searchRelatedColumns()" [routerLink]="['/', { outlets: { popup: ['columncustom-new'] } }]">
                            <span class="fa fa-plus"></span>&nbsp;<span class="hidden-sm-down">Add Column</span></span>
                        </button>
                    </div>
                    <div class="btn-group" role="group" aria-label="Third group">
                        <button class="btn btn-success float-right" (click)="searchRelatedColumns()" [routerLink]="['/', { outlets: { popup: ['stepcustom-new'] } }]">
                            <span class="fa fa-plus"></span>&nbsp;<span class="hidden-sm-down">Add Status</span></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </h2>

    <br/>

    <div class="container-fluid">
        <div id="agileColumns" class="row"  *ngIf="relatedColumns">
            <div class="panel panel-primary col" *ngFor="let col of relatedColumns">
                <div class="agileColumn">
                    <div class="panel-heading column-name"> <strong>{{col.name}}</strong></div>
                    <div class="panel-body-active column-content-active droppable" id="{{col.id}}" (dragover)="allowDrop($event)" (drop)="drop($event)">
                        <div *ngFor="let step of relatedSteps">
                            <div *ngIf="step.column">
                                <div *ngIf="step.column.id === col.id" class="step row" id={{step.id}} draggable="true" (dragstart)="dragStart($event)" (dragend)="dragend($event)">
                                    <div class="unmapped-step-content">
                                        <div class="unmapped-step-body">
                                            <div class="step-info row pl-3">
                                                <div class="step-code">
                                                    <!-- <div class="card-title"><a style="color: #533f03;" [routerLink]="['/stepcustoms', step.id ]">{{step.code}}</a></div> -->
                                                    <div class="card-title" [ngStyle]="{'color': step.status.category.color}">{{step.code}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary col"  *ngIf="relatedSteps">
                <div class="panel-heading column-step">Unmapped Statuses</div>
                <div class="panel-body-active column-content-active droppable" id="unmappedStatus" (dragover)="allowDrop($event)"  (drop)="drop($event)">
                    <div *ngFor="let stepUnmapped of relatedSteps">
                        <div *ngIf="!stepUnmapped.column" class="step row" id={{stepUnmapped.id}} draggable="true" (dragstart)="dragStart($event)" (dragend)="dragend($event)">
                            <div class="unmapped-step-content">
                                <div class="unmapped-step-body">
                                    <div class="step-info row pl-3">
                                        <div class="step-code">
                                            <!-- <div class="card-title" style="color: {{stepUnmapped.status.category.color}};"><a style="color: #533f03;" [routerLink]="['/stepcustoms', stepUnmapped.id ]">{{stepUnmapped.code}}</a></div> -->
                                            <div class="card-title" style="font-weight: bold; padding: 2px;" [ngStyle]="{'color': stepUnmapped.status.category.color}">{{stepUnmapped.code}}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
