<div>
    <h2>
        <span>Boards</span>
        <button class="btn btn-primary float-right jh-create-entity create-board-custom" [routerLink]="['/', { outlets: { popup: ['boardcustom-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down" >
            Create new Board
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="boardcustoms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span>Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="project"><span>Project</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let board of boardcustoms ;trackBy: trackId">
                <!--<td><a [routerLink]="['../boardcustoms', board.id ]">{{board.id}}</a></td>-->
                <td><a [routerLink]="['../boardcustoms', board.id ]">{{board.code}}</a></td>
                <td>{{board.name}}</td>
                <td>{{board.type}}</td>
                <td *ngIf="board.project">{{board.project.name}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--
                        <button type="submit"
                                [routerLink]="['../boardcustoms/agile', board.id ]"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-columns"></span>
                            <span class="d-none d-md-inline">Agile</span>
                        </button>
                        -->
                        <button type="submit"
                                [routerLink]="['../boardcustoms/configure', board.id ]"
                                class="btn btn-warning btn-sm">
                            <span class="fa fa-wrench"></span>
                            <span class="d-none d-md-inline">Configure</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['../boardcustoms/agile', board.id ]"
                                class="btn btn-success btn-sm">
                            <span class="fa fa-columns"></span>
                            <span class="d-none d-md-inline">Agile</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['../boardcustoms', board.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'boardcustoms/'+ board.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                 [routerLink]="['/', { outlets: { popup: 'boardcustoms/'+ board.id + '/delete'} }]"
                                 replaceUrl="true"
                                 queryParamsHandling="merge"
                                 class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="boardcustoms && boardcustoms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
