body {
    font-family: "Lato", sans-serif;
}


.dropZone {
    border: 2px dashed blueviolet;
    min-height: 25px;
    padding: inherit;
    height: content-box;
    width: content-box;
}

.card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
}

.card-content-active {
    width:98%;
}

.unmapped-status-content {
    width: 98%;
}

.card-body-active {
    padding: 1px 0 0;
    border: 1px solid rgb(182, 182, 179);
}

.unmapped-status-body {
    padding: 1px 0 0;
    border: 1px solid rgb(182, 182, 179);
}

.panel-body-active {
    padding-top: 5%;
    background-color: #f5f5f5;;
}

.column-content-active {
    /* border: 1px solid #888888; */
    min-height: 320px;
    border: 1px solid #888888;

}

.status-content {
    /* border: 1px solid #888888; */
    min-height: 320px;
    border: 1px solid #888888;
}

.status {
    background-color: #fcfcfc;
    margin-left: inherit;
    margin-right: inherit;
}

.card-title {
    padding-top: 1%;
}

.column-name {
    color: darkslateblue;
    font-weight: bold;
}

.column-status {
    color: #888888;
    font-weight: bold;
}

.columnConfBtn {
    display: flex;
}

.columnConfBtn .btn {
}

.headerConf {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


a {
    color: #3b73af;
}

a:hover {
    color: #cc6;
}

.card-title {
    color: #533f03;
}
