
<div *ngIf="column">
    <h2><span>Column</span> {{column.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Code</span></dt>
        <dd>
            <span>{{column.code}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{column.name}}</span>
        </dd>
        <dt><span>Min</span></dt>
        <dd>
            <span>{{column.min}}</span>
        </dd>
        <dt><span>Max</span></dt>
        <dd>
            <span>{{column.max}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'column/'+ column.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
