<div>
    <h2>
        <span>Columns</span>


        <div class="btn-group mr-2 float-right" style="display: flex; flex-direction: row; justify-content: space-between">

            <div class="btn-group mr-2" role="group">
                <button type="submit"
                        (click)="previousState()"
                        class="btn btn-info">
                    <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
                </button>
            </div>

            <div class="btn-group mr-2" role="group">
                <button class="btn btn-primary float-right jh-create-entity create-column-custom" [routerLink]="['/', { outlets: { popup: ['columncustom-new'] } }]">
                    <span class="fa fa-plus"></span>
                    <span class="hidden-sm-down" >
                        Create new Column
                    </span>
                </button>
            </div>

        </div>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="Query">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="columncustoms">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="min"><span>Min</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="max"><span>Max</span> <span class="fa fa-sort"></span></th>
            <!--<th jhiSortBy="order"><span>Order</span> <span class="fa fa-sort"></span></th>-->
            <th jhiSortBy="board"><span>Board</span> <span class="fa fa-sort"></span></th>

            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let column of columncustoms ;trackBy: trackId">
                <!--<td><a [routerLink]="['../columncustoms', column.id ]">{{column.code}}</a></td>-->
                <td style="font-weight: bold">{{column.code}}</td>
                <td>{{column.name}}</td>
                <td *ngIf="column.board && column.board.type.toLocaleUpperCase() === 'KANBAN'">{{column.min}}</td>
                <td *ngIf="column.board && column.board.type.toLocaleUpperCase() === 'SCRUM'"><span style="font-weight: bold; color: #888888"> No Min for Scrum </span></td>
                <td *ngIf="column.board && column.board.type.toLocaleUpperCase() === 'KANBAN'">{{column.max}}</td>
                <td *ngIf="column.board && column.board.type.toLocaleUpperCase() === 'SCRUM'"><span style="font-weight: bold; color: #888888"> No Max for Scrum </span></td>
                <!--<td>{{column.order}}</td>-->
                <td *ngIf="column.board">{{column.board.name}}</td>
                <td *ngIf="!column.board">&nbsp;</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">

                        <!--<button type="submit"
                                [routerLink]="['../columncustoms', column.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ column.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'columncustoms/'+ column.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="columncustoms && columncustoms.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
