<div *ngIf="workflowcustom">


    <div class="workflowParent" style="display: flex; flex-direction: row; justify-content: space-between">

        <div class="boardPath" style="display: flex; flex-direction: row; justify-content: space-between">
            <h5><span>{{workflowcustom.name}}</span></h5>
            <h5>&nbsp;<span class="fa fa-angle-right" style="font-size: x-large; font-weight: bolder">&nbsp;</span> </h5>
            <h5>
                <span>
                    <div *ngIf="mySteps">Steps</div>
                    <div *ngIf="myTransitions">Transitions</div>
                </span>
            </h5>
        </div>
        <div class="backBtn pr-2 pb-2">
            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>

    <p-tabMenu [activeItem]="workflowItems[0]" [model]="workflowItems"></p-tabMenu>

    <div *ngIf="mySteps && relatedSteps">

        <div>
            <br/>

            <h4>
                <span>Total Steps related to this Workflow : {{relatedSteps.length}}</span>
            </h4>
            <jhi-alert></jhi-alert>
            <br/>

            <div class="table-responsive" *ngIf="relatedSteps">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="workflow"><span>Workflow</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="board"><span>Status</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="column"><span>Column</span> <span class="fa fa-sort"></span></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let step of relatedSteps ;trackBy: trackId">
                        <!--<td><a [routerLink]="['../stepcustoms', step.id ]">{{step.code}}</a></td>-->
                        <td style="font-weight: bold">{{step.code}}</td>
                        <td>{{step.name}}</td>
                        <td *ngIf="step.workflow">{{step.workflow.name}}</td>
                        <td *ngIf="!step.workflow">&nbsp;</td>
                        <td *ngIf="step.status">{{step.status.name}}</td>
                        <td *ngIf="!step.status">&nbsp;</td>
                        <td *ngIf="step.column">{{step.column.name}}</td>
                        <td *ngIf="!step.column">&nbsp;</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <!--<button type="submit"
                                        [routerLink]="['../stepcustoms', step.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline">View</span>
                                </button>-->
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'stepcustoms/'+ step.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'stepcustoms/'+ step.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>



        </div>




    </div>


    <div *ngIf="myTransitions && relatedTransitions">

        <div>
            <br/>

            <h4>
                <span>Total Transitions related to this Workflow : {{relatedTransitions.length}}</span>
            </h4>
            <jhi-alert></jhi-alert>
            <br/>

            <div class="table-responsive" *ngIf="relatedTransitions">
                <table class="table table-striped">
                    <thead>
                    <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse">
                        <!--<th jhiSortBy="id"><span>ID</span> <span class="fa fa-sort"></span></th>-->
                        <th jhiSortBy="code"><span>Code</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="name"><span>Name</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="workflow"><span>Workflow</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="sourceStep"><span>Source Step</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="targetStep"><span>Target Step</span> <span class="fa fa-sort"></span></th>
                        <th jhiSortBy="description"><span>Description</span> <span class="fa fa-sort"></span></th>

                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let transition of relatedTransitions ;trackBy: trackId">
                        <!--<td><a [routerLink]="['../transitioncustoms', transition.id ]">{{transition.code}}</a></td>-->
                        <td style="font-weight: bold">{{transition.code}}</td>
                        <td>{{transition.name}}</td>
                        <td *ngIf="transition.workflow">{{transition.workflow.name}}</td>
                        <td *ngIf="!transition.workflow">&nbsp;</td>
                        <td *ngIf="transition.sourceStep">{{transition.sourceStep.name}}</td>
                        <td *ngIf="!transition.sourceStep">&nbsp;</td>
                        <td *ngIf="transition.targetStep">{{transition.targetStep.name}}</td>
                        <td *ngIf="!transition.targetStep">&nbsp;</td>
                        <td>{{transition.description}}</td>
                        <td class="text-right">
                            <div class="btn-group flex-btn-group-container">

                                <!--<button type="submit"
                                        [routerLink]="['../transitioncustoms', transition.id ]"
                                        class="btn btn-info btn-sm">
                                    <span class="fa fa-eye"></span>
                                    <span class="d-none d-md-inline">View</span>
                                </button>-->
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'transitioncustoms/'+ transition.id + '/edit'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-primary btn-sm">
                                    <span class="fa fa-pencil"></span>
                                    <span class="d-none d-md-inline">Edit</span>
                                </button>
                                <button type="submit"
                                        [routerLink]="['/', { outlets: { popup: 'transitioncustoms/'+ transition.id + '/delete'} }]"
                                        replaceUrl="true"
                                        queryParamsHandling="merge"
                                        class="btn btn-danger btn-sm">
                                    <span class="fa fa-remove"></span>
                                    <span class="d-none d-md-inline">Delete</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>




    </div>


</div>
