body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

.card {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    margin: 0px;
}

#issue {
    border: 1px solid rgb(182, 182, 179);
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.issue-priority-color {
    width:1%;
}

.issue-type-icon {
    width: 5%;
    align-items: center;
    text-align: center;
}

.issue-info {
    width: 94%;
}

.code {
    width:10%;
    align-items: center;
    text-align: center;
}

.summary {
    width:60%;
}

.external-info {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    width: 20%;
}

.assignee-img {
    width: 10%;
    align-items: center;
    text-align: center;
}

.epic {
    color: white;
    text-align: center;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    border-radius: 8px;
    border: 1px solid rgb(100, 102, 95);
    width: 50%;
}

.version {
    color:rgb(93, 93, 95);
    text-align: center;
    vertical-align: middle;
    font-size: small;
    font-weight: bold;
    padding: 3px;
    margin: 3px;
    border-radius: 8px;
    border: 1px solid rgb(100, 102, 95);
    width: 50%;
}

img {
    height: auto;
    width: auto;
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
}
