body {
    margin: 0;
    font-family: Roboto, sans-serif;
  }

.epic {
    background-color:rgb(46, 46, 189);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: 1px solid rgb(100, 102, 95);
    height: 27px;
}

.version {
    color:rgb(93, 93, 95);
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    border-radius: 8px;
    border: 1px solid rgb(100, 102, 95);
    height: 27px;
}

#issue {
    border: 1px solid rgb(100, 102, 95);
}

img {
    height: auto;
    width: auto;
    max-width: 24px;
    max-height: 24px;
    vertical-align: middle;
}
